# Pythagorean Expectation and English Soccer

In soccer, teams score goals, and we can calculate Pythagorean Expectations based on goals scored and goals conceded.

The structure of competition in soccer in most countries around the world is different from the sports we have looked at so far. Rather than leagues operating as independent entities, they are connected through a hierarchical system, sometimes called "the pyramid". In England, the English Premier League is at the top of the pyramid (it used to be called the First Division) and contains 20 teams. 

Beneath the Premier League is The Football League Championship (it used to be called Division Two) and it contains 24 teams. The Premier League and the Championship are linked via the system of promotion and relegation. At the end of each season, the three worst performing teams (measured by points won in competition) are relegated to play Championship soccer in the following season, to be replaced by the three best performing teams in the Championship. Beneath the Championship are two more leagues - League One (formerly Third Division) and League Two (formerly Fourth Division). These leagues are also linked, hierarchically, through promotion and relegation. Thus it makes sense to think of these four divisions as part of a common system. 

In any one season, there are 92 teams in the system. Even though teams compete in different divisions, we can define both win percentage and Pythagorean Expectation for each team, in order to see how well the data fits.

In each of the four divisions, every team plays every other team twice in a season, once at home and once away. There is no playoff, so the champion is the team at the end of the season with the largest number of points (3 points for a win, one for a draw (tie)). Unlike the leagues we have looked at so far, draws are not only possible but are quite common. We need to adjust our definition of win percentage for this case. We could create a statistic such as the percentage of maximum possible points, but instead, we do something simpler- we give a value of 1 for a win, 0 for a loss, and 1/2 for a draw.

We now follow the same procedure we have used to date.

In [1]:
# Load the packages

import pandas as pd
import numpy as np
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load the data. 
# Our data covers the 2017/18 season

Eng18 = pd.read_excel('../../Data/Week 1/Engsoccer2017-18.xlsx')
print(Eng18.columns.tolist())

['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR']

In [3]:
# We can see what our dataframe looks like simply by typing its name

Eng18

      Div                 Date        HomeTeam        AwayTeam  FTHG  FTAG FTR
0     EPL  2017-11-08 00:00:00         Arsenal       Leicester     4     3   H
1     EPL  2017-12-08 00:00:00        Brighton        Man City     0     2   A
2     EPL  2017-12-08 00:00:00         Chelsea         Burnley     2     3   A
3     EPL  2017-12-08 00:00:00  Crystal Palace    Huddersfield     0     3   A
4     EPL  2017-12-08 00:00:00         Everton           Stoke     1     0   H
5     EPL  2017-12-08 00:00:00     Southampton         Swansea     0     0   D
6     EPL  2017-12-08 00:00:00         Watford       Liverpool     3     3   D
7     EPL  2017-12-08 00:00:00       West Brom     Bournemouth     1     0   H
8     EPL           13/08/2017      Man United        West Ham     4     0   H
9     EPL           13/08/2017       Newcastle       Tottenham     0     2   A
10    EPL           19/08/2017     Bournemouth         Watford     0     2   A
11    EPL           19/08/2017         Burnley       West Brom     0     1   A
12    EPL           19/08/2017       Leicester        Brighton     2     0   H
13    EPL           19/08/2017       Liverpool  Crystal Palace     1     0   H
14    EPL           19/08/2017     Southampton        West Ham     3     2   H
15    EPL           19/08/2017           Stoke         Arsenal     1     0   H
16    EPL           19/08/2017         Swansea      Man United     0     4   A
17    EPL           20/08/2017    Huddersfield       Newcastle     1     0   H
18    EPL           20/08/2017       Tottenham         Chelsea     1     2   A
19    EPL           21/08/2017        Man City         Everton     1     1   D
20    EPL           26/08/2017     Bournemouth        Man City     1     2   A
21    EPL           26/08/2017  Crystal Palace         Swansea     0     2   A
22    EPL           26/08/2017    Huddersfield     Southampton     0     0   D
23    EPL           26/08/2017      Man United       Leicester     2     0   H
24    EPL           26/08/2017       Newcastle        West Ham     3     0   H
25    EPL           26/08/2017         Watford        Brighton     0     0   D
26    EPL           27/08/2017         Chelsea         Everton     2     0   H
27    EPL           27/08/2017       Liverpool         Arsenal     4     0   H
28    EPL           27/08/2017       Tottenham         Burnley     1     1   D
29    EPL           27/08/2017       West Brom           Stoke     1     1   D
...   ...                  ...             ...             ...   ...   ...  ..
2006  FL2             21/04/18         Wycombe      Accrington     0     4   A
2007  FL2             24/04/18        Coventry         Lincoln     2     4   A
2008  FL2             24/04/18       Morecambe       Cambridge     0     0   D
2009  FL2             24/04/18  Newport County      Accrington     2     1   H
2010  FL2             24/04/18          Yeovil    Forest Green     0     0   D
2011  FL2             28/04/18      Accrington         Lincoln     1     0   H
2012  FL2             28/04/18      Cheltenham        Coventry     1     6   A
2013  FL2             28/04/18    Chesterfield         Wycombe     1     2   A
2014  FL2             28/04/18      Colchester         Swindon     0     0   D
2015  FL2             28/04/18    Crawley Town           Crewe     1     2   A
2016  FL2             28/04/18         Grimsby    Notts County     2     1   H
2017  FL2             28/04/18           Luton    Forest Green     3     1   H
2018  FL2             28/04/18       Morecambe          Barnet     0     1   A
2019  FL2             28/04/18  Newport County       Cambridge     2     1   H
2020  FL2             28/04/18       Port Vale        Carlisle     1     2   A
2021  FL2             28/04/18       Stevenage          Exeter     3     1   H
2022  FL2             28/04/18          Yeovil       Mansfield     2     3   A
2023  FL2  2018-01-05 00:00:00    Chesterfield  Newport County     1     0   H
2024  FL2  2018-05-05 00:00:00          Barnet    Chesterfield     3     0   H
2025  FL2  2018-05-05 00:00:00       Cambridge       Port Vale     5     0   H
2026  FL2  2018-05-05 00:00:00        Carlisle  Newport County     1     1   D
2027  FL2  2018-05-05 00:00:00        Coventry       Morecambe     0     0   D
2028  FL2  2018-05-05 00:00:00           Crewe      Cheltenham     2     1   H
2029  FL2  2018-05-05 00:00:00          Exeter      Colchester     1     0   H
2030  FL2  2018-05-05 00:00:00    Forest Green         Grimsby     0     3   A
2031  FL2  2018-05-05 00:00:00         Lincoln          Yeovil     1     1   D
2032  FL2  2018-05-05 00:00:00       Mansfield    Crawley Town     1     1   D
2033  FL2  2018-05-05 00:00:00    Notts County           Luton     0     0   D
2034  FL2  2018-05-05 00:00:00         Swindon      Accrington     3     0   H
2035  FL2  2018-05-05 00:00:00         Wycombe       Stevenage     1     0   H

[2036 rows x 7 columns]

In [4]:
# Once again our data is in the form of game results. We first identify whether the result was a win for the home team (H),
# the away team (A) or a draw (D). We also create the counting variable.

Eng18['hwinvalue']=np.where(Eng18['FTR']=='H',1,np.where(Eng18['FTR']=='D',.5,0))
Eng18['awinvalue']=np.where(Eng18['FTR']=='A',1,np.where(Eng18['FTR']=='D',.5,0))
Eng18['count']=1

In [5]:
# Once again we have to create separate dfs to calculate home team and away team performance.
# Here is the home team df, including only the variables we need.

Enghome = Eng18.groupby(['HomeTeam','Div'])['count','hwinvalue', 'FTHG','FTAG'].sum().reset_index()
Enghome = Enghome.rename(columns={'HomeTeam':'team','count':'Ph','FTHG':'FTHGh','FTAG':'FTAGh'})
Enghome

                team   Div  Ph  hwinvalue  FTHGh  FTAGh
0      AFC Wimbledon   FL1  23       11.0     25     30
1         Accrington   FL2  23       18.5     42     19
2            Arsenal   EPL  19       16.0     54     20
3        Aston Villa  FLCH  23       17.5     42     19
4             Barnet   FL2  23       11.0     24     25
5           Barnsley  FLCH  23        9.5     25     32
6         Birmingham  FLCH  23       11.5     21     24
7          Blackburn   FL1  23       18.0     46     20
8          Blackpool   FL1  23       13.0     37     29
9             Bolton  FLCH  23       11.0     25     33
10       Bournemouth   EPL  19        9.5     26     30
11          Bradford   FL1  23       11.0     28     32
12         Brentford  FLCH  23       14.5     37     24
13          Brighton   EPL  19       11.0     24     25
14      Bristol City  FLCH  23       14.0     41     28
15       Bristol Rvs   FL1  23       14.0     38     30
16           Burnley   EPL  19        9.5     16     17
17            Burton  FLCH  23        6.5     19     43
18              Bury   FL1  23        9.0     20     30
19         Cambridge   FL2  23       15.5     38     23
20           Cardiff  FLCH  23       18.0     40     16
21          Carlisle   FL2  23       12.0     31     23
22          Charlton   FL1  23       14.0     31     24
23           Chelsea   EPL  19       13.0     30     16
24        Cheltenham   FL2  23       11.0     31     31
25      Chesterfield   FL2  23        9.5     27     33
26        Colchester   FL2  23       12.5     30     23
27          Coventry   FL2  23       15.0     36     24
28      Crawley Town   FL2  23       10.0     30     30
29             Crewe   FL2  23       12.0     32     32
..               ...   ...  ..        ...    ...    ...
62            Oxford   FL1  23       12.0     34     32
63         Peterboro   FL1  23       14.0     37     26
64          Plymouth   FL1  23       14.5     37     30
65         Port Vale   FL2  23       10.0     26     29
66        Portsmouth   FL1  23       13.5     33     21
67           Preston  FLCH  23       13.0     27     22
68               QPR  FLCH  23       14.5     38     31
69           Reading  FLCH  23        9.0     25     35
70          Rochdale   FL1  23       12.0     24     24
71         Rotherham   FL1  23       16.5     45     23
72        Scunthorpe   FL1  23       13.0     28     23
73  Sheffield United  FLCH  23       14.5     33     20
74    Sheffield Weds  FLCH  23       11.5     37     31
75        Shrewsbury   FL1  23       16.0     32     17
76       Southampton   EPL  19        7.5     20     26
77          Southend   FL1  23       15.5     38     21
78         Stevenage   FL2  23       13.5     42     27
79             Stoke   EPL  19        7.5     20     30
80        Sunderland  FLCH  23        6.5     23     39
81           Swansea   EPL  19        7.5     17     24
82           Swindon   FL2  23       11.5     29     36
83         Tottenham   EPL  19       15.0     40     16
84           Walsall   FL1  23       12.0     30     31
85           Watford   EPL  19       10.0     27     31
86         West Brom   EPL  19        7.5     21     29
87          West Ham   EPL  19       10.0     24     26
88             Wigan   FL1  23       17.0     37     11
89            Wolves  FLCH  23       18.5     47     18
90           Wycombe   FL2  23       14.5     43     35
91            Yeovil   FL2  23       10.5     29     26

[92 rows x 6 columns]

In [ ]:
# Now we create the mirror image df for the away team results.

Engaway = Eng18.groupby('AwayTeam')['count','awinvalue', 'FTHG','FTAG'].sum().reset_index()
Engaway = Engaway.rename(columns={'AwayTeam':'team','count':'Pa','FTHG':'FTHGa','FTAG':'FTAGa'})
Engaway

In [ ]:
# Merge the home team and away team results

Eng18 = pd.merge(Enghome, Engaway, on = ['team'])
Eng18

In [ ]:
# Sum the results by home and away measures to get the team overall performance for the season

Eng18['W'] = Eng18['hwinvalue']+Eng18['awinvalue']
Eng18['G'] = Eng18['Ph']+Eng18['Pa']
Eng18['GF'] = Eng18['FTHGh']+Eng18['FTAGa']
Eng18['GA'] = Eng18['FTAGh']+Eng18['FTHGa']
Eng18

In [ ]:
# Create the win percentage and Pythagorean Expectation

Eng18['wpc'] = Eng18['W']/Eng18['G']
Eng18['pyth'] = Eng18['GF']**2/(Eng18['GF']**2 + Eng18['GA']**2)
Eng18

In [ ]:
# Plot the data
# Seaborn allow us to color code teams based on division

sns.relplot(x="pyth", y="wpc", data =Eng18,hue='Div')

## Self test

run sns.relplot again, but this time write y="W" instead of y="wpc". What do you find? Does it make a difference?

In [ ]:
# Run the regression

pyth_lm = smf.ols(formula = 'wpc ~ pyth', data=Eng18).fit()
pyth_lm.summary()

## Self test

Run the regression above but instead write 'wpc ~ result' instead of 'wpc ~ result' in the line starting pyth_lm. What difference does this make?

# Conclusion

Notwithstanding the different organizational structures of soccer, we have found the Pythagorean Expectation model fits the data well.

We have now looked at league results from four different sports and found that the Pythagorean model fits the data well in three of the four. 

But we now want to consider a different question: does the Pythagorean model work as a forecasting model? We address this question in the next notebook.